@model PizzaModel

<div>
    <div>
        @Model.Nome
        @Model.Descrizione
        @Model.Price <span> $</span>
        <a href=@Url.Action("Detail", "Pizza" , new { Id = Model.Id } )> Visualizza la pizza</a>
        <a href=@Url.Action("Update", "Pizza" , new { Id = Model.Id } )> Modifica la pizza</a>
       </div>
</div>